#
## default puppet agent config
#

[main]

{% for item in hostvars[inventory_hostname].groups.puppetmaster %}
server = {{ item }}.{{ domain_realm }}
{% endfor %}
environment = production
runinterval = 15m
noop = true
